<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/scripts/trix.js"></script>
    <script type="text/javascript" src="/scripts/profile.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/css/trix.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="grid-container">
            <div class="navigation-grid-item">
                <%- include('partials/navigation.ejs',{Source:Data.Source}) %>
            </div>
            <div class="general-details-grid-item flex-column">
                <div class="general-details-container flex-column">
                    <img class="profile-image" src="/images/Users/<%=Data.UserDetails.UserID%>.jpg"
                        onerror="if (this.src != '/images/Users/default.png') this.src = '/images/Users/default.png';">
                    <div class="general-details-header-container flex-row">
                        <h2 class="general-details-header">General</h2>
                        <input id="general-details-edit-btn"
                            class="edit-profile-btn <%=Data.UserDetails.UserID != user.UserID ? 'hidden' : ''%>"
                            type="button" value="Edit" onclick="ShowGeneralDetailsForm();" />
                        <input id="general-details-save-btn" class="save-profile-btn hidden" type="button" value="Save"
                            onclick="SaveGeneralDetailsFormData('<%=Data.UserDetails.UserID%>');" />
                    </div>
                    <div id="general-details-edit-container" class="general-details-content-container flex-row">
                        <div class="general-details-left flex-column">
                            <div class="general-details-attribute flex-column">
                                <label>Full Name</label>
                                <span id="FullNameSpan">
                                    <%=Data.UserDetails.FirstName %>
                                        <%=Data.UserDetails.LastName %>
                                </span>
                            </div>
                            <div id="BirthdayDiv" class="general-details-attribute flex-column">
                                <label>Birthday</label>
                                <% if (Data.UserDetails.Birthday=='' ) { %>
                                    <span>&nbsp; </span>
                                    <%}else {%>
                                        <span>
                                            <%=Data.UserDetails.Birthday%>
                                        </span>
                                        <%}%>
                            </div>
                            <div class="general-details-attribute flex-column">
                                <label>Register Date</label>
                                <span>
                                    <%=Data.UserDetails.CreationDate%>
                                </span>

                            </div>
                        </div>
                        <div class="general-details-right flex-column">
                            <div id="EmailDiv" class="general-details-attribute flex-column">
                                <label>Email</label>
                                <% if (Data.UserDetails.Email==null ) { %>
                                    <span>&nbsp; </span>
                                    <%}else {%>
                                        <span>
                                            <%=Data.UserDetails.Email%>
                                        </span>
                                        <%}%>
                            </div>
                            <div id="MobileDiv" class="general-details-attribute flex-column">
                                <label>Mobile</label>
                                <% if (Data.UserDetails.Mobile==null ) { %>
                                    <span>&nbsp;</span>
                                    <%}else {%>
                                        <span>
                                            <%=Data.UserDetails.Mobile%>
                                        </span>
                                        <%}%>
                            </div>
                            <div id="EmploymentStatusDiv" class="general-details-attribute flex-column">
                                <label>Employment Status</label>
                                <% if (Data.UserDetails.EmploymentStatus==null ) { %>
                                    <span>&nbsp; </span>
                                    <%}else {%>
                                        <span>
                                            <%=Data.UserDetails.EmploymentStatus%>
                                        </span>
                                        <%}%>
                            </div>
                        </div>
                    </div>
                    <form id="general-details-save-form" class="general-details-form-container flex-row hidden"
                        method="post" action="/Users/edit/<%=Data.UserDetails.UserID%>">
                        <div class="general-details-left flex-column">
                            <div class="general-details-attribute flex-column">
                                <label>First Name</label>
                                <input id="FirstNameInput" class="form-input" type="text"
                                    value="<%=Data.UserDetails.FirstName%>">
                            </div>
                            <div class="general-details-attribute flex-column">
                                <label>Last Name</label>
                                <input id="LastNameInput" class="form-input" type="text"
                                    value="<%=Data.UserDetails.LastName%>">
                            </div>
                            <div class="general-details-attribute flex-column">
                                <label>Birthday</label>
                                <input id="BirthdayInput" class="form-input" type="date"
                                    value="<%=Data.UserDetails.Birthday%>">
                            </div>
                        </div>
                        <div class="general-details-left flex-column">
                            <div class="general-details-attribute flex-column">
                                <label>Email</label>
                                <div class="flex-row attribute-with-checkbox">
                                    <input id="EmailInput" class="form-input" type="text"
                                        value="<%=Data.UserDetails.Email%>">
                                    <label class="form-checkbox">Public?</label> <input id="EmailCheckbox"
                                        class="form-checkbox" type="checkbox" value="<%=Data.UserDetails.PublicEmail%>">
                                </div>
                            </div>
                            <div class="general-details-attribute flex-column">
                                <label>Mobile</label>
                                <div class="attribute-with-checkbox flex-row">
                                    <input id="MobileInput" class="form-input" type="text"
                                        value="<%=Data.UserDetails.Mobile%>">
                                    <label class="form-checkbox">Public?</label><input id="MobileCheckbox" class=""
                                        type="checkbox" value="<%=Data.UserDetails.PublicMobile%>">
                                </div>
                            </div>
                            <div class="general-details-attribute flex-column">
                                <label>Employment Status</label>
                                <select id="EmploymentStatusInput" class="form-input">
                                    <% if (Data.UserDetails.EmploymentStatusID==null ) { %>
                                        <option value="0" checked>Employment Status</option>
                                        <%}%>
                                            <% Data.employmentStatuses.forEach(employmentStatus=>{ %>
                                                <option value="<%=employmentStatus.EmploymentStatusID%>"
                                                    <%=employmentStatus.EmploymentStatusID==Data.UserDetails.EmploymentStatusID
                                                    ? 'selected' : '' %>>
                                                    <%=employmentStatus.EmploymentStatus%>
                                                </option>
                                                <% }) %>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="club-details-grid-item flex-column">
                <div class="club-details-container flex-column">
                    <div class="club-details-header flex-row">
                        <h3>Club Details</h3>
                        <input id="club-details-edit-btn" class="edit-profile-btn <%=Data.UserDetails.UserID != user.UserID ? 'hidden' : ''%>" type="button" value="Edit" onclick="ShowClubDetailsForm();" />
                        <input id="club-details-save-btn" class="save-profile-btn hidden" type="button" value="Save" onclick="SaveClubDetailsFormData('<%=Data.UserDetails.UserID%>');" />
                    </div>
                    <div id="club-details-edit-container" class="">
                        <div class="club-details-content-container flex-row <%= (Data.UserDetails.ClubID) ? '' : 'hidden' %>">

                            <img id="club-details-img-edit" class="club-details-img" src="/images/Clubs/<%=Data.UserDetails.ClubID%>.png" onerror="if (this.src != '/images/Clubs/default.png') this.src = '/images/Clubs/default.png';">
                            <div class="club-details-content flex-row">
                                <div class="club-details-attribute flex-column">
                                    <label>Club Name</label>
                                    <span id="ClubSpan">
                                        <%=Data.UserDetails.Club%>
                                    </span>
                                </div>
                                <div id="ProfessionDiv" class="club-details-attribute flex-column">
                                    <label>Profession</label>
                                    <% if (Data.UserDetails.ProfessionID==null ) { %>
                                        <span>&nbsp; </span>
                                        <%}else {%>
                                            <span>
                                                <%=Data.UserDetails.Profession%>
                                            </span>
                                            <%}%>
                                </div>
                                <div id="TeamAgeDiv" class="club-details-attribute flex-column">
                                    <label>Team Age</label>
                                    <% if (Data.UserDetails.TeamAgeID==null ) { %>
                                        <span>&nbsp; </span>
                                        <%}else {%>
                                            <span>
                                                <%=Data.UserDetails.TeamAge%>
                                            </span>
                                            <%}%>

                                </div>
                            </div>
                        </div>
                        <span ID="NoClub" class="NoClub <%= (Data.UserDetails.ClubID) ? 'displayNone' : '' %>">
                            No associated club.
                        </span>
                    </div>
                    <form id="club-details-save-form" class="club-details-form-container flex-row hidden" method="post"
                        action="/Users/edit/<%=Data.UserDetails.UserID%>">
                        <img id="club-details-img-form" class="club-details-img"
                            src="/images/Clubs/<%=Data.UserDetails.ClubID%>.png"
                            onerror="if (this.src != '/images/Clubs/default.png') this.src = '/images/Clubs/default.png';">

                        <div class="club-details-content flex-row">
                            <div class="club-details-attribute flex-column">
                                <label>Club Name</label>
                                <select id="ClubInput" class="form-input" onchange="LoadClubIcon()">
                                    <% if (Data.UserDetails.ClubID==null ) { %>
                                        <option value="0" checked>Clubs</option>
                                        <%}%>
                                            <% Data.clubs.forEach(club=>{ %>
                                                <option value="<%=club.ClubID%>" <%=club.ClubID==Data.UserDetails.ClubID
                                                    ? 'selected' : '' %>>
                                                    <%=club.Club%>
                                                </option>
                                                <% }) %>
                                </select>
                            </div>
                            <div class="club-details-attribute flex-column">
                                <label>Profession</label>
                                <select id="ProfessionInput" class="form-input">
                                    <% if (Data.UserDetails.ProfessionID==null ) { %>
                                        <option value="0" checked>Professions</option>
                                        <%}%>
                                            <% Data.professions.forEach(profession=>{ %>
                                                <option value="<%=profession.ProfessionID%>"
                                                    <%=profession.ProfessionID==Data.UserDetails.ProfessionID
                                                    ? 'selected' : '' %>>
                                                    <%=profession.Profession%>
                                                </option>
                                                <% }) %>
                                </select>
                            </div>
                            <div class="club-details-attribute flex-column">
                                <label>Team Age</label>
                                <select id="TeamAgeInput" class="form-input">
                                    <% if (Data.UserDetails.TeamAgeID==null ) { %>
                                        <option value="0" checked>Team Age</option>
                                        <%}%>
                                            <% Data.teamAges.forEach(teamAge=>{ %>
                                                <option value="<%=teamAge.TeamAgeID%>"
                                                    <%=teamAge.TeamAgeID==Data.UserDetails.TeamAgeID ? 'selected' : ''
                                                    %>>
                                                    <%=teamAge.TeamAge%>
                                                </option>
                                                <% }) %>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="resume-grid-item flex-column">
                <div class="resume-container flex-column">
                    <div class="resume-header flex-row">
                        <h3>Resume</h3>
                        <input id="resume-edit-btn" class="edit-profile-btn <%=Data.UserDetails.UserID != user.UserID ? 'hidden' : ''%>" type="button" value="Edit" onclick="ShowResumeDetailsForm();" />
                        <input id="resume-save-btn" class="save-profile-btn hidden" type="button" value="Save" onclick="SaveResumeDetailsFormData('<%=Data.UserDetails.UserID%>');" />
                    </div>
                    <div id="resume-container" class="resume-body-container">
                        <%- Data.UserDetails.Resume%>
                    </div>
                    <div id="resume-editor" class="resume-body-container hidden">
                        <input id="formData" type="hidden" value="<%= Data.UserDetails.Resume%>" name="PostBody">
                        <trix-editor placeholder="Enter post content" input="formData" class="resume-editor-content"></trix-editor>
                    </div>
                </div>
            </div>
            <div class="footer-grid-item">
                <%- include('partials/footer.ejs') %>
            </div>
        </div>
    </div>
</body>

</html>